SQLs/
Win64/
__history/
__recovery/
*.groupproj
*.deployproj
*.local
*.dsk
*.identcache
*.res
*.tvsconfig
*.rc
Win32/
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.cfg
*.hpp
*Resource.rc
*.projdata
*.~*
*.stat